body {
    box-sizing: border-box;
    max-width: 80%;
    width: 900px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    border-right: 5px solid darkcyan;
    border-left: 5px solid darkcyan;
    font: .9em / 1.2 Arial, Helvetica, sans-serif
}

main {
    width: 90%;
    margin: 0 auto;
}

section {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

section > *:last-child {
    margin-bottom: 0;
}

section:last-child {
    border-bottom: none;
}

.box {
    float: left;
    width: 150px;
    height: 100px;
    margin: 10px 20px 20px 10px;
    padding: 1em;
    border-radius: 5px;
    background-color: rgb(207,232,220);
    color: black;
}

.highlighted {
    background-color: rgb(79,185,227);
    padding: 10px;
    color: #fff;
}

.cleared {
    clear: both;
}

.wrapper {
    background-color: rgb(79,185,227);
    padding: 10px;
    color: #fff;
    /*overflow: auto;*/
    display: flow-root;
}

/*.wrapper::after {*/
/*    content: "";*/
/*    display: block;*/
/*    clear: both;*/
/*}*/
